# URL do seu servidor Ollama local
OLLAMA_URL=http://localhost:11434

# Nome do modelo LLM carregado no Ollama
OLLAMA_MODEL=qwen2.5-coder:0.5b

LOG_LEVEL=DEBUG

# Bucket GCS de destino dos datasets processados
GCS_BUCKET=observatudo-infra-www-data
